<!DOCTYPE html>
<html>
    <head>
        <title>Odetocode - Learn to Do Nodejs Stuff</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"></link>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script><script data-ad-client="ca-pub-1064406357834510" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <style>
            li {
                white-space: pre-wrap
            }
            h1 {
                font-size: 60px;
            } table {
                font-size: 22px;
            } image {
                height: 15%;
                width: 20%;
            }
        </style>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171636977-1"></script>
        <meta name="google-site-verification" content="MRECW15hjFWbOq_xbU9PHJWgJSlRwkZEFOJZaILP6yE" />
        </head>
        <body class="text-center bg-dark text-light">
        <nav class="bg-light text-dark">
            <h1>OdeToCode</h1>
        </nav>
        <table class="table">
                <tr>
                    <th class="text-light text-center">Description</th>
                    <th class="text-light text-center">Image</th>
                    <th class="text-light text-center">Date Created</th>
                </tr>
                <% posts.forEach(function(post) { %>
                        <tr>
                            <td class="text-center text-light"><a class="text-danger" href="post/<%= post._id %>"><%= post.description %></a></td>
                            <td class="text-center text-light"><img id="image" class="text-danger" src="data:image/png;base64, <%= post.image %>" alt=""></imge</td>
                            <td class="text-center text-light"><%= post.dateCreated %></td>
                        </tr>
                <% }) %>
        </table>
    </body>
</html>