<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    </head>
    <body class="text-center bg-dark text-light">
        <nav class="bg-light text-dark">
            <h1><%= Post.description %></h1>
            <nav-link><a href="/">Back To OdeToCode</a></nav-link>
        </nav>
        <ul>
            <li class="mt-2 list-unstyled"></li>
            <li class="mt-4 list-unstyled"><%= Post.post %></li>
            <li class="mt-4 list-unstyled"><%= Post.dateCreated %></li>
        </ul>
    </body>
</html>